In [17]:
import pandas as pd

In [18]:
dataset=pd.read_csv("multi_linear_regression_data.csv")
dataset

    R&D Spend  Administration Spend  Marketing Spend state        Profit
0      139320                  9573            38494    NY  18071.567282
1      115070                 27950            20893    TX  17989.144513
2       90462                  8936            42961    NY  15914.682009
3       25926                 23933            25724    CA   6367.115403
4       13032                 12407            36459    WA   1624.109390
..        ...                   ...              ...   ...           ...
95     143116                 17856            67496    CA  38662.457463
96      25054                 26226            20384    NY   3519.066488
97      93862                 16222            37790    TX  18878.728602
98      91554                 11602            64659    TX  27326.546946
99      81822                 11209            20159    TX  13541.950483

[100 rows x 5 columns]

In [33]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,R&D Spend,Administration Spend,Marketing Spend,Profit,state_NY,state_TX,state_WA
0,139320,9573,38494,18071.567282,True,False,False
1,115070,27950,20893,17989.144513,False,True,False
2,90462,8936,42961,15914.682009,True,False,False
3,25926,23933,25724,6367.115403,False,False,False
4,13032,12407,36459,1624.109390,False,False,True
...,...,...,...,...,...,...,...
95,143116,17856,67496,38662.457463,False,False,False
96,25054,26226,20384,3519.066488,True,False,False
97,93862,16222,37790,18878.728602,False,True,False
98,91554,11602,64659,27326.546946,False,True,False
99,81822,11209,20159,13541.950483,False,True,False

In [34]:
dataset.columns

Index(['R&D Spend', 'Administration Spend', 'Marketing Spend', 'Profit',
       'state_NY', 'state_TX', 'state_WA'],
      dtype='object')

In [21]:
independent= dataset[['R&D Spend', 'Administration Spend', 'Marketing Spend','state_NY', 'state_TX', 'state_WA']]
independent

,R&D Spend,Administration Spend,Marketing Spend,state_NY,state_TX,state_WA
0,139320,9573,38494,True,False,False
1,115070,27950,20893,False,True,False
2,90462,8936,42961,True,False,False
3,25926,23933,25724,False,False,False
4,13032,12407,36459,False,False,True
...,...,...,...,...,...,...
95,143116,17856,67496,False,False,False
96,25054,26226,20384,True,False,False
97,93862,16222,37790,False,True,False
98,91554,11602,64659,False,True,False
99,81822,11209,20159,False,True,False

In [22]:
dependent=dataset[['Profit']]
dependent

          Profit
0   18071.567282
1   17989.144513
2   15914.682009
3    6367.115403
4    1624.109390
..           ...
95  38662.457463
96   3519.066488
97  18878.728602
98  27326.546946
99  13541.950483

[100 rows x 1 columns]

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [24]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [25]:
weight=regressor.coef_
weight

array([[ 8.22514693e-02, -1.18466566e-01,  1.83674757e-01,
        -1.60717482e+03, -3.50402990e+02, -2.35855838e+03]])

In [26]:
bias=regressor.intercept_
bias

array([6683.28326281])

In [27]:
Y_pred=regressor.predict(X_test)

In [28]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,Y_pred)
r_score

0.6001499780547499

In [29]:
import pickle
filename="finalized_model_mul_linear.sav"
pickle.dump(regressor,open(filename,'wb'))

In [35]:
load_model=pickle.load(open('finalized_model_mul_linear.sav','rb'))
result=load_model.predict([[1234,345,4565,1,0,0]])

C:\Users\sathishc\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [36]:
result

array([[5975.21105915]])